*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
/* INDEX */
#backgroundIndex{
    display: flex;
    position: relative;
    background: rgb(14,21,20);
    width: 100vmax;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 51.58vmax;
    transition: 3s;
    transform: translate(3s);
}
#fizzLeft{
    display: flex;
    flex-direction: column;
    position:absolute ;
    left: 10vmax;
    /* top: 3vmax; */
    z-index: 1;
    transition: 3s;
    transform: translate(3s);
}
#fizzRight{
    display: flex;
    flex-direction: column;
    position:absolute ;
    left: 100vmax;
    z-index: 1;
    transition: 3s;
    transform: translate(3s);
}
.fizzBackWord{
    font-family: 'monserratB';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10vmax;
    line-height: 120%;
    /* box-shadow: 1vmax solid white; */
    text-shadow: 0 0 7px  white;
    color: rgb(14,21,20);
    transition: 3s;
    transform: translate(3s);
}
#bankImgIndex{
    position: absolute;
    z-index: 4;
    width: 33vmax;
    top: 3vmax;
    right: -15vmax;
    transition: 3s;
    transform: translate(3s);
}
#shadowCircle0{
    position: absolute;
    top: -7vmax;
    right: -25vmax;
    z-index: 2;
    width: 80vmax;
    height: 80vmax;
    background: rgb(14,21,20);
    background: radial-gradient(circle, rgba(62,239,207,0.7960434173669468) 0%, rgba(64,246,213,0.3226540616246498) 29%, rgba(54,206,178,0.06214985994397759) 42%, rgba(62,239,207,0) 77%);
    transition: 3s;
    transform: translate(3s);
}
#shadowCircle1{
    position: absolute;
    top: -20vmax;
    right: -40vmax;
    z-index: 3;
    width: 80vmax;
    height: 80vmax;
    background: rgb(14,21,20);
    background: radial-gradient(circle, rgba(62,239,207,0.7960434173669468) 0%, rgba(64,246,213,0.3226540616246498) 29%, rgba(54,206,178,0.06214985994397759) 42%, rgba(62,239,207,0) 77%);   
    transition: 3s;
    transform: translate(3s);
}
#forFizzRight{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    right: 21vmax;
    top: 2vmax;
    /* background-color: red; */
    width: 30vmax;
    height: 42.5vmax;
    color: aliceblue;
    transition: 3s;
    transform: translate(3s);

}
#fizzRight1{
    font-family: 'monserratB';
    font-size: 5vmax;
    line-height: 160%;
    width: 100%;
    transition: 3s;
    transform: translate(3s);
    /* background-color: lavenderblush; */
}
#fizzRight2{
    font-family: 'monserratM';
    line-height: 160%;
    font-size: 1.4vmax;
    transition: 3s;
    transform: translate(3s);
}
.emtyProd{
    height: 3vmax;
    transition: 3s;
    transform: translate(3s);
    /* background-color: violet; */
}
.emty2{
    height: 15.5vmax;
    transition: 3s;
    transform: translate(3s);
    /* background-color: green; */
}
#buttonIndex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: flex-end;
    border-radius: 4vmax;
    width: 12.5vmax;
    height: 5vmax;
    /* background-color: gold; */
    border: 0.15vmax solid #3DEBCC;
    transition: 3s;
    transform: translate(3s);
}
#buttonIntoIndex{
    height: 100%;
    border-radius: 4vmax;
    color: aliceblue;
    font-family: 'monserratSB';
    font-size: 1.6vmax;
    background-image: url(../images/button.png);
    background-size: cover;
    width: 8vmax;
    border-color: transparent;
    transition: 3s;
    transform: translate(3s);
}

#forArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vmax;
    height: 6vmax;
    transition: 3s;
    transform: translate(3s);
}

/* CATALOG */
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 6vmax;
    background-color: #0E1514;
    border-radius: 0 0 1vmax 1vmax;
}
#forNav{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vmax;
}
#searchFormNav{
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 23vmax;
    height: 3vmax;
}
#searchNav{
    font-family: monserratM;
    font-size: 0.8vmax;
    padding: 0 1vmax;
    width: 16vmax;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 3vmax;
    border: transparent;
}
#searchNavImg{
    width: 3vmax;
    height: 3vmax;
    background-image: url(../images/search.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
}
#logo{
    align-self: center;
    text-shadow: 0 0 2px  white;
    font-size: 3vmax;
}
#navThreeDivs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15vmax;
    margin-right: 2vmax;
}
#navThreeDivsAdmin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vmax;
    margin-right: 2vmax;
}
#userEmailNav{
    text-decoration: transparent;
    align-self: flex-end;
    font-family: monserratM;
    color: #F8F8F8;
    font-size: 0.8vmax;
    line-height: 560%;
}
#ruble{
    width: 2vmax;
}
#basket{
    width: 2vmax;
}
#logIn, #logOut{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: transparent;
    width: 8vmax;
    height: 3vmax;
    background-color: aliceblue;
    font-family: 'monserratSB';
    font-size: 1vmax;
    border-radius: 3.5vmax;
    border: transparent;
    color: #0E1514;
}
.infoAccNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 4.6vmax;
}
.infoAccNav>span{
    font-family: 'monserratSB';
    color: aliceblue;
}

#catalogNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

#catForForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vmax;
    height: 7vmax;
    overflow-x: scroll;
    scrollbar-width: none;
}
.whereCatalog{
    height: 4vmax;
    padding: 0 1vmax;
    border-radius: 2vmax;
    margin-right: 2vmax;
    border: transparent;
    font-family: monserratSB;
    font-size: 1vmax;
}
#turquoise{
    background-color: #0DB296;
    color: white;

}
#white{
    background-color: white;
    color: #AAAAAA;
}
#catalogProducts{
    display: flex;
    flex-direction: column;
    width: 90vmax;

}

.productCat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 2vmax 1vmax 0 2vmax; */
    border-radius: 2vmax;
    width: 20vmax;
    background-color: white;
    height: 25vmax;
}
.imagesProducts{
    margin-top: 2vmax;
    height: 13vmax;
}
.infoProd{
    width: 20vmax;
    height: 9vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.volumeName{
    display: flex;
    flex-direction: column;
    width: 18vmax;
}
.volumeProd{
    font-family: monserratM;
    color: #0DB296;
    font-size: 1.1vmax;
    line-height: 150%;
}
.nameProd{
    font-family: monserratSB;
    font-size: 1.5vmax;
    color: #0E1514;
    height: 2.85vmax;
    line-height: 190%;
}
.pricePlus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 19vmax;
    height: 4.5vmax;
    margin-left: 1vmax;
    background-color: white;
}
.priceProd{
    font-family: monserratM;
    font-size: 1.2vmax;
}
.plusProd{
    height: 4vmax;
    width: 4vmax;
    background-color: #0E1514;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    text-decoration: none;
    justify-self: end;
    border-radius: 1vmax 0;
    color: #F8F8F8;
    font-family: monserratL;
    font-size: 4vmax;
    cursor: pointer;
}
.fourProducts{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.emtyBetween{
    width: 3.35vmax;
    height: 5vmax;
}


/* MODAL PRODUCT */

#backModal{
    position: fixed;
    z-index: 2;
    width: 100vmax;
    height: 100vmin;
    background-color: rgba( 14, 21, 20, 0.5);
}
#modalReg{
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 54vmax;
    height: 32vmax;
    background-color: white;
    border-radius : 3vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5vmax solid white;
    gap: 4vmax;
}
#imgOneProd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vmax;
    height: 100%;
    border-right: 0.1vmax solid rgba(0, 0, 0, 0.1);
}
#infoOneProd{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow-y: hidden;
    width: 26.2vmax;
}
#nameProd{
    font-family: monserratB;
    line-height: 300%;
    color: #0E1514;
    /* background-color: wheat; */
    font-size: 1.8vmax;
    height: 5vmax;
}
#rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3vmax;
    width: 10.5vmax;
}
#rating>img{
    width: 1vmax;
}
#numRat{
    font-family: monserratSB;
    font-size: 1vmax;
    line-height: 1;
    color: #0E1514;

}
#amountRat{
    font-family: monserratM;
    font-size: 1vmax;
    line-height: 1;
    color: #BDBDBD;
}
#emtyOneProd{
    width: 100%;
    height: 0.8vmax;
}
#descProd{
    position: relative;
    height: 2vmax;
}
#descProd>#desc{
    position: absolute;
    z-index: 4;
    font-family: monserratM;
    font-size: 1vmax;
    line-height: 1;
    color: #AAAAAA;
}
#descProd>div{
    position: absolute;
    top: 2vmax;
    z-index: 5;
    width: 100%;
    height: 10vmax;
    background-color: white;
}
#descProd>#more{
    position: absolute;
    z-index: 5;
    top: 2vmax;
    right: 0;
    font-family: monserratSB;
    font-size: 1vmax;
    color: #0DB295;
}
#allBeforePos{
    position: absolute;
    z-index: 6;
    top: 14vmax;
}
#offersOneProd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(13, 178, 149, 0.05);
    border: 1.5vmax solid transparent;
    width: 25.2vmax;
    height: 3.8vmax;
}
#offersOneProd>span{
    font-family: monserratB;
    font-size: 1vmax;
    line-height: 1;
    height: 2vmax;
    color: #0E1514;
}
#offerBtm{
    display: flex;
    height: 2vmax;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;
}
#offerBtmLeft{
    display: flex;
    flex-direction: row;
    font-size: 0.8vmax;
    font-family: monserratM;
}
#offerBtmLeft>img{
    width: 1vmax;
}
#emtyOneProd1{
    width: 1.3vmax;
    height: 100%;
}
#offerLeftBtm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#offerLeftTop{
    color: #0E1514;
}
#offerLeftBtm{
    color: #A3A1A1;
}
#offerBtmRight{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: monserratSB;
    justify-content: space-between;
    line-height: 1;
}
#offerRightTop{
    font-size: 0.9vmax;
    color: #0E1514;
}
#offerRightBtm{
    font-size: 0.8vmax;
    color: #0DB295;
}
#emtyOneProd2{
    width: 100%;
    height: 1.8vmax;
}
#volumeOneProd{
    height: 4.2vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#volumeOneProd>span{
    font-family: monserratSB;
    font-size: 1vmax;
    line-height: 1;
    color: #0E1514;
}
#volumesProd{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
}
.oneV{
    width: 4.5vmax;
    height: 2vmax;
    border-radius: 1vmax;
    border: 0.1vmax solid #AAAAAA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #AAAAAA;
    font-family: monserratM;
    font-size: 0.8vmax;
}
#birusaOneProd{
    background-color: #0DB295;
    color: #F8F8F8;
    border: transparent;
}
#emtyOneProd3{
    width: 100%;
    height: 2.2vmax;
}
#priceNBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.2vmax;
    width: 26.2vmax;
}
#PriceProd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#namePrice{
    font-family: monserratM;
    font-size: 1vmax;
    line-height: 1;
    color: #BDBDBD;
}
#justPrice{
    font-family: monserratB;
    font-size: 1.3vmax;
    line-height: 190%;
    color: #0E1514;
}
#toCart{
    width: 13vmax;
    height: 100%;
    border-radius: 3vmax;
    border: transparent;
    background-color: #0DB295;
    color: white;
    font-family: monserratSB;
    font-size: 1.2vmax;
}
#closeOneProd{
    position: absolute;
    width: 2vmax;
    top: -2.5vmax;
    right: -2.5vmax;
}


/* LOGIN MODAL */
*{
    padding: 0;
    margin :0;
}
#backModalLogIn{
    position: fixed;
    width: 100vmax;
    height: 0vmin;
    background-color: rgba( 14, 21, 20, 0.5);
}    
#logInModal, #signInModal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vmax;
    position: absolute;
    padding: 2vmax;
    width: 31vmax;
    height: 22vmax;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
#logInModal>h3, #signInModal>h3{
    font-family: monserratSB;
    font-size: 1.2vmax;
    line-height: 160%;
}
#formLogIn, #formSignIn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26vmax;
    height: 16vmax;
    /* background-color: green; */
}
.label{
    font-family: monserratM;
    font-size: 1vmax;
    /* line-height: 280%; */
    padding-left: 1vmax;
}
.input{
    display: flex;
    border-radius: 3vmax;
    border: 0.1vmax solid #AAAAAA;
    /* border: 0.1vmax solid #0DB295; */
    background-color: transparent;
    font-family: monserratL;
    font-size: 1.1vmax;
    /* align-items: center; */
    width: 24vmax;
    padding: 0 1vmax;
    height: 3vmax;
    outline: none;
}
#submitLogIn, #submitSignIn{
    border: transparent;
    background-color: #0DB295;
    color: white;
    border-radius: 3vmax;
    font-size: 1vmax;
    font-family: monserratSB;
    width: 8vmax;
    height: 3vmax;
    align-self: flex-end;
    /* justify-self: end; */
}
#uzhe{
    font-family: monserratL;
    font-size: 1vmax;
    line-height: 1;
}
#uzhe>span{
    color: #0DB295;
}
#closeLogIn, #closeSignIn{
    position: absolute;
    top: 2vmax;
    right: 2vmax;
    width: 2vmax;
}

#changeToLogIn, #changeToSignIn{
    cursor: pointer;
}


/* ACCOUNT */

#emtyAboveAcc{
    width: 100%;
    height: 6vmax;
}
#navAccount{
    align-self: center;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    width: 60vmax;
    height: 4vmax;
}
#navAccount>a{
    text-decoration: transparent;
    font-family: monserratM;
    color: #A3A1A1;
}
#navAccount>a:hover {
    color: #0E1514;
}
#modalAcc{
    display: flex;
    flex-direction: column;
    width: 35vmax;
    gap: 1vmax;
}
.labelAcc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6vmax;
    font-family: monserratSB;
    /* background-color: darkgoldenrod;
    border: 0.1vmax solid black; */
}
#submitModal{
    align-self: flex-end;
    width: 15vmax;
    height: 3.5vmax;
    font-size: 1vmax;
    border: transparent;
    background-color: #0DB295;
    color: #F8F8F8;
    border-radius: 3vmax;
    font-family: monserratM;
}
#changeAccH3{
    /* align-self: flex-start; */
    font-family: monserratSB;
    font-size: 1.4vmax;
    width: 35vmax;
}



/* ORDERS */
#orders{
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 3vmax;
    width: 60vmax;
    height: 25vmax;
    background-color: #F8F8F8;
}
#oneOrder{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3vmax;
    width: 43vmax;
    padding: 1vmax ;
    gap: 1.5vmax;
    /* height: 20vmax; */
}
#oneOrder>h5{
    font-family: monserratSB;
    font-size: 1.2vmax;
    line-height: 1;
}
#oneOrder>span{
    font-family: monserratM;
    font-size: 1vmax;
    line-height: 1;
}
#oneProd{
    /* background-color: pink; */
    box-shadow: 0vmax 0vmax 0.3vmax rgba(170, 170, 170, 0.3);
    /* border: 0.1vmax solid rgba(170, 170, 170, 0.3); */
    border-radius: 3vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 41vmax;
    height: 6vmax;
    padding: 2vmax 1vmax;
}
#infoOneProd{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 38vmax;
}
#infoOneProd>span{
    font-family: monserratM;
    font-size: 1.1vmax;
}
#mathSum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25vmax;
    font-family: monserratL;
    font-size: 1vmax;
}
#sumOneProd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: monserratSB;
    font-size: 1.2vmax;
}

/* ADMIN */
.adminNav{
    text-decoration: transparent;
    color: #F8F8F8;
    font-family: monserratM;
    font-size: 1vmax;
}
.adminNav:hover{
    color: #A3A1A1;
}
#scrollAdmin{
    display: flex;
    align-self: center;
    width: 60vmax;
    height: 30vmax;
    overflow-y: scroll;
}
#namePageAdmin{
    width: 60vmax;
    line-height: 200%;
    font-family: monserratSB;
    font-size: 1.4vmax;
    color: #0DB295;
}

/* ADMIN USERS */
#usersAdminTable{
    background-color: #AAAAAA;
    font-family: monserratM;
    font-size: 0.9vmax;
}
#loginAdminUserH, #bonusesAdminUserH, #statusAdminUserH, #blockedAdminUserH, #actionAdminUserH{
    font-family: monserratSB;
    font-size: 1vmax;
    padding: 1vmax;
}
.loginAdminUser, #loginAdminUserH{
    padding: 1vmax;
    background-color: white;
    width: 18vmax;
}
.bonusesAdminUser, #bonusesAdminUserH{
    padding: 1vmax;
    background-color: white;
    width: 5vmax;
}
.statusAdminUser, #statusAdminUserH{
    padding: 1vmax;
    background-color: white;
    width: 10vmax;
}
.statusAdminUserA{
    padding: 1vmax;
    background-color: white;
    color: #0DB295;
}
.statusAdminUserB{
    padding: 1vmax;
    background-color: white;
    color: #A3A1A1;
}
.statusAdminUserUS{
    padding: 1vmax;
    background-color: white;
    color: #AAAAAA;
}
.statusAdminUserBS{
    padding: 1vmax;
    background-color: white;
    color: #0DB295;
}
.blockedAdminUser, #blockedAdminUserH{
    padding: 1vmax;
    background-color: white;
}
.actionAdminUser, #actionAdminUserH{
    padding: 1vmax;
    background-color: white;
    width: 5vmax;
}
.userBlocked, .userUnblocked{
    border: transparent;
    font-family: monserratM;
    font-size: 0.8vmax;
    height: 3vmax;
    width: 8vmax;
    border-radius: 3vmax;
}
.userBlocked{
    background-color: #white;
    color: #0DB295;
}
.userUnblocked{
    background-color: #0DB295;
    color: white;
}
@font-face {
    font-family: 'monserratB';
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'monserratSB';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'monserratM';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'monserratL';
    src: url(../fonts/Montserrat-Light.ttf);
}