*{
    padding: 0;
    margin: 0;
    transition: 3s;
    /* transform: translate(3s); */
}
#backgroundIndex{
    display: flex;
    position: relative;
    background: rgb(14,21,20);
    width: 100vmax;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 51.58vmax;
}
#fizzLeft{
    display: flex;
    flex-direction: column;
    position:absolute ;
    left: 10vmax;
    z-index: 1;
}
#fizzRight{
    display: flex;
    flex-direction: column;
    position:absolute ;
    left: 100vmax;
    z-index: 1;
}
.fizzBackWord{
    font-family: 'monserratB';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10vmax;
    line-height: 120%;
    /* box-shadow: 1vmax solid white; */
    text-shadow: 0 0 7px  white;
    color: rgb(14,21,20);
}
#bankImgIndex{
    position: absolute;
    z-index: 4;
    width: 33vmax;
    top: 3vmax;
    right: -15vmax;
}
#shadowCircle0{
    position: absolute;
    top: -7vmax;
    right: -25vmax;
    z-index: 2;
    width: 80vmax;
    height: 80vmax;
    background: rgb(14,21,20);
    background: radial-gradient(circle, rgba(62,239,207,0.7960434173669468) 0%, rgba(64,246,213,0.3226540616246498) 29%, rgba(54,206,178,0.06214985994397759) 42%, rgba(62,239,207,0) 77%);
}
#shadowCircle1{
    position: absolute;
    top: -20vmax;
    right: -40vmax;
    z-index: 3;
    width: 80vmax;
    height: 80vmax;
    background: rgb(14,21,20);
    background: radial-gradient(circle, rgba(62,239,207,0.7960434173669468) 0%, rgba(64,246,213,0.3226540616246498) 29%, rgba(54,206,178,0.06214985994397759) 42%, rgba(62,239,207,0) 77%);
}
#forFizzRight{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    right: 21vmax;
    top: 1vmax;
    /* background-color: red; */
    width: 30vmax;
    height: 44.5vmax;
    color: aliceblue;

}
#fizzRight1{
    font-family: 'monserratB';
    font-size: 5vmax;
    line-height: 160%;
    width: 100%;
    /* background-color: lavenderblush; */
}
#fizzRight2{
    font-family: 'monserratM';
    line-height: 160%;
    font-size: 1.4vmax;
}
.emty1{
    height: 5vmax;
    /* background-color: violet; */
}
.emty2{
    height: 12.5vmax;
    /* background-color: green; */
}
#buttonIndex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: flex-end;
    border-radius: 4vmax;
    width: 12.5vmax;
    height: 5vmax;
    /* background-color: gold; */
    border: 0.15vmax solid #3DEBCC;
}
#buttonIntoIndex{
    height: 100%;
    border-radius: 4vmax;
    color: aliceblue;
    font-family: 'monserratSB';
    font-size: 1.6vmax;
    background-image: url(../images/button.png);
    background-size: cover;
    width: 8vmax;
    border-color: transparent;
}

#forArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vmax;
    height: 6vmax;
}
/* #forArrow>svg{
    width: 4vmax;
} */

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 6vmax;
    background-color: #0E1514;
    border-radius: 0 0 1vmax 1vmax;
}
#forNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53.5vmax;
}
#logo{
    align-self: center;
    text-shadow: 0 0 2px  white;
    font-size: 3vmax;
}
#navThreeDivs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vmax;
    margin-right: 2vmax;
}
#ruble{
    width: 2vmax;
}
#basket{
    width: 2vmax;
}
#logOut{
    width: 8vmax;
    height: 3vmax;
    background-color: aliceblue;
    font-family: 'monserratSB';
    font-size: 1vmax;
    border-radius: 3.5vmax;
    border: transparent;
    color: #0E1514;
}
.infoAccNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 4.6vmax;
}
.infoAccNav>span{
    font-family: 'monserratSB';
    color: aliceblue;
}

#catalogNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

#catForForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vmax;
    height: 7vmax;
    overflow-x: scroll;
    scrollbar-width: none;
}
.whereCatalog{
    height: 4vmax;
    padding: 0 1vmax;
    border-radius: 2vmax;
    margin-right: 2vmax;
    border: transparent;
    font-family: monserratSB;
}
#turquoise{
    background-color: #0DB296;
    color: white;

}
#white{
    background-color: white;
    color: #AAAAAA;
}
#catalogProducts{
    display: flex;
    flex-direction: column;
    width: 90vmax;

}

.productCat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 2vmax 1vmax 0 2vmax; */
    border-radius: 2vmax;
    width: 20vmax;
    background-color: white;
    height: 25vmax;
}
.imagesProducts{
    margin-top: 2vmax;
    height: 13vmax;
}
.infoProd{
    width: 20vmax;
    height: 9vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.volumeName{
    display: flex;
    flex-direction: column;
    width: 18vmax;
}
.volumeProd{
    font-family: monserratM;
    color: #0DB296;
    font-size: 1.1vmax;
    line-height: 150%;
}
.nameProd{
    font-family: monserratSB;
    font-size: 1.5vmax;
    color: #0E1514;
    height: 2.85vmax;
    line-height: 190%;
}
.pricePlus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 19vmax;
    height: 4.5vmax;
    margin-left: 1vmax;
    background-color: white;
}
.priceProd{
    font-family: monserratM;
    font-size: 1.2vmax;
}
.plusProd{
    height: 4vmax;
    width: 4vmax;
    background-color: #0E1514;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: end;
    border-radius: 1vmax 0;
    color: #F8F8F8;
    font-family: monserratL;
    font-size: 4vmax;
}
.fourProducts{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.emtyBetween{
    width: 3.35vmax;
    height: 5vmax;
}
@font-face {
    font-family: 'monserratB';
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: 'monserratSB';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'monserratM';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'monserratL';
    src: url(../fonts/Montserrat-Light.ttf);
}